[COMMON]
BACKEND			= mail,copy
WATCH_FOLDER	= /var/spool/gammu/inbox/
LOG_FILE		= log.txt

RETRY			= 3
INTERVAL		= 1

[MAIL]
FROM			= foo@bar.com
TO				= hoge@nori.com

[SMTP]
DEBUG			= 1
TIMEOUT			= 30
SERVER			= nori.com
PORT			= 465
USER			= hoge
PASSWORD		= hogehoge

[COPY]
DEST			= ./bak

[HTTP]
URL			= http://localhost:8888
